.AdminDashboard {
    position: relative;
    width: 100%;
    height: 100%;

    .AdminDashboard &__segmentedControl {
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.2;
        width: 150px;

        &:hover {
            opacity: 1;
        }
    }
}
