.GuestForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee1e1;
    padding: 24px;
    min-height: 100%;
    gap: 30px;

    @media (min-width: 768px) {
        padding: 24px 20%;
    }

    @media (min-width: 1080px) {
        padding: 24px 30%;
    }

    &__title {
        font-family: 'SimpleSerenitySerif';
        font-size: 48px;
        letter-spacing: 5%;
    }

    &__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-caption {
            color: #000;
            font-family: 'Cormorant SC', serif;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 10%;
            font-variant-caps: small-caps;
            text-align: center;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 14px;

        &-caption {
            color: #000;
            font-family: 'Cormorant SC', serif;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 5%;
            font-variant-caps: small-caps;
        }

        &-inputs {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &_withType {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                max-width: 320px;
            }
        }
    }
}
