.CustomTextInput {
    .CustomTextInput &__input {
        border: 1px dashed #710912;
    }

    .CustomTextInput &__label {
        line-height: 100%;
    }

    .CustomTextInput &__label,
    .CustomTextInput &__input {
        color: #000;
        font-family: 'Cormorant SC', serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 5%;
        font-variant-caps: small-caps;
    }
}
